[submodule "OpenVDBForUnity/Packages/jp.kazuki.openvdb-samplemodels"]
	path = OpenVDBForUnity/Packages/jp.kazuki.openvdb-samplemodels
	url = https://karasusan@github.com/karasusan/OpenVDBSampleModels.git
